// OPTIONS
input[name="template"]{
  display: none;
}

input[name="template"] ~ label{
  cursor: pointer;
  opacity: .75;
}

input[name="template"]:checked ~ label{
  opacity: 1;
}





#mainStage{
  background:lightgray;
  width: 100%;
  height: 519.5px;
  position: relative;
  overflow: hidden;

  #mainTextContent{
    padding: 10px;
    width: 75%;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    z-index: 3;
    top: 450px;
    left: 30px;
    color: #e2e258;
  }

  #mainTextContent.hold{
    border: dashed 1px white;
  }

  #mainTemplateWrapper{
    position: relative;
    z-index: 2;
    pointer-events: none!important;
  }

  #previewImageWrapper{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    img{
      max-width: 100%;
    }
  }
}
